/* reset CSS */
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
    font-family: 'Times New Roman', Times, serif;
    font-size: 16px;
    
}
:root{
    --color-background: rgb(157, 173, 247);
    --color-border: rgb(94, 130, 228);
}

.timetable{
    position: relative;
    top:100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 100px;
    
}
.form{
    border: 1px solid var(--color-border);
    padding: 10px;
    border-radius: 3px;
    
}
.main{
    width: 600px;
}
.element{
    margin: 20px 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.element label{
    width: 100px;
}
.select-element,
.option-element,
.input-element,
#description{
    padding: 8px 12px;
    width: 420px;
    border: 1px solid var(--color-border);
    border-radius: 3px;
    outline: none;
}
.input-show{
    outline: none;
    border: none;
}
#list_lesson{
    display: flex;
    justify-content: space-evenly;
    list-style: none;
    width: 420px;
    flex-wrap: wrap;
}
#list_lesson .item_lesson{
    display: flex;
    width: 80px;
    align-items: center;
    margin-bottom: 4px;
    
}
#list_lesson .item_lesson input{
    margin-right: 6px;
}
.btn-submit{
    padding: 8px 12px;
    background-color: var(--color-background);
    border-radius: 3px;
    border: 1px solid var(--color-border);
    text-decoration: none;
    color: #000;
    text-align: center;
}

.error {
    /* margin: 10px; */
    color: #FF3C33;
}

table {
    width: 100%;
    text-align: left;
    margin: 10px ;
    font-weight: 100;

    /* background: blue; */
}

.reset {
    width: 100px;
    height: 25px;
    font-size: 1rem;
    background: #4f81bd;
    border: 1px solid #385d8a;
}

.newpass{
    width: 250px;
    height: 30px;
    margin: 3px;
    padding: 10px;
}

.inputClean{
    width: 1px;
    height: 1px;
    padding: 1px;
    margin: 1px;
    border: 1px solid white;
}

th.centerth {
    text-align: center;
}