.container-ledger_return_book {
    display: flex;
    flex-direction: column;
    height: auto;
    width: 60vw;
    margin: 2rem 20vw;
    border: 2px solid #385e8b;
    padding: 1rem;
}

.search {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
}

.search-child {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 1rem;
}

.search-child-label {
    width: 100px;
}

.search-child-select {
    display: flex;
    width: 180px;
    height: 30px;
}

.search-child-input {
    display: flex;
    justify-content: space-around;
    justify-content: center;
    width: 200px;
}

.hello {
    height: inherit;
    width: inherit;
    border: 2px solid #9cafc6;
}

.btn-search {
    display: flex;
    justify-content: center;
}

.btn-search--search,
.btn-search--reset {
    color: #cfdded;
    background-color: #4f81bd;
    border-radius: 5px;
    border: 2px solid #385e8b;
    height: 30px;
    width: 80px;
}

.btn-search--search {
    margin-left: 30px;
}

.search-result {
    display: flex;
    justify-content: flex-start;
}

.btn-add {
    display: flex;
    justify-content: flex-end;
}

.list {
    display: flex;
    flex-direction: column;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 6px;
}

.list-item {
    display: flex;
    width: 700px;
    justify-content: space-between;
}

.list-item-action {
    display: flex;
    justify-content: flex-end;
}

.btn-give-book-back {
    color: #cfdded !important;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #4f81bd;
    margin-right: 10px;
    height: 30px;
    width: 50px;
    text-decoration: none;
    background-color: #4f81bd;
    border-radius: 5px;
}

.stt {
    width: 10px;
}

.book-name {
    width: 140px;
}

.user-name {
    width: 140px;
}

.loan-status {
    width: 120px;
}